mat-card {
  width: 500px;
  text-align: center;
}
label {
  display: block;
  text-align: start;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}
.specialLabel {
  margin-left: 0.8rem;
}
.header{
  text-align: center;
  font-weight: bold;

}
.full-width {
  width: 90%;
}

button {
  padding: 0.2rem;
  width: 50%;
  transition: 0.3s ease;
}
button:hover {
  transform: scale(0.9);
}
.button-row {
  padding-top: 1.5rem;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.usernameInput{
  margin-bottom: 0.5rem;
  padding-top: 10px;
}
.passwordInput {
  margin-bottom: 0.5rem;
}
.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}
